.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 42px;
  background-color: #961914;
  border-radius: 5px;
  transition: all 0.3s;
  text-align: center;
  color: #fff;
}
