.hero {
  background-image: url(../img/herobg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;

  &__wrap {
    min-height: calc(100vh - 226px);
    display: flex;
    align-items: center;
    padding: 30px 0;
    position: relative;
    z-index: 2;
  }

  &__decor {
    width: 168px;
    height: 548px;
    right: 0;
    top: 55%;
    transform: translateY(-55%);
    position: absolute;
  }

  &__box {
    max-width: 495px;
  }

  &__title {
    background-image: url(../img/HeroEllipse.png);
    background-repeat: no-repeat;
    background-position: 84% 50%;
    letter-spacing: 0.02em;
    line-height: 1.27;
    color: #fff;
    margin-bottom: 15px;

    font: {
      size: 54px;
      weight: 700;
      family: "Oswald";
    }
  }

  &__btn {
    min-width: 227px;
  }

  &__info {
    margin-bottom: 35px;
    max-width: 332px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.42;
  }
}

.header {
  @include x-center;
  justify-content: space-between;
  padding: 10px 0;

  &__logo {
    max-width: 80px;
    max-height: 80px;
    @include b(tablet) {
      position: relative;
      width: 60px;
      height: 60px;
      z-index: 3;
    }
  }

  &__nav {
    @include b(tablet) {
      display: none;
      position: absolute;
      overflow: hidden;
      background-color: #e5e5e5;
      height: 100vh;
      padding: 15px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
    }

    &--open {
      @include b(tablet) {
        display: block;
        z-index: 7;
      }
    }

    &-left {
      display: none;
      @include b(tablet) {
        display: block;
        position: absolute;
        left: 0;
        top: 140px;
      }
    }

    &-right {
      display: none;
      @include b(tablet) {
        display: block;
        position: absolute;
        right: 0;
        bottom: 100px;
      }
    }

    &-list {
      display: flex;
      margin: 0 -26px;
      @include b(tablet) {
        display: block;
      }
    }

    &-item {
      padding: 0 30px;
      height: 22px;
      @include b(tablet) {
        padding-bottom: 60px;
        height: 0;
      }
    }

    &-link {
      position: relative;
      text-align: center;
      font-weight: 500;
      line-height: 1.37;
      color: $white-color;
      transition: 0.5s;
      @include b(tablet) {
        display: block;
        font-weight: 600;
        font-size: 24px;
        color: $main-color;
        padding: 0 15px;
        top: 122px;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0;
        height: 2px;
        background-color: #961914;
        @include trs;
        @include b(tablet) {
          left: 25%;
        }
      }

      &:hover::after {
        width: 100%;
        @include b(tablet) {
          width: 50%;
        }
      }
    }
  }

  &__btn-menu {
    display: none;
    width: 28px;
    height: 17px;
    right: 0;
    cursor: pointer;
    position: absolute;
    @include b(tablet) {
      display: block;
      right: 25px;
      z-index: 2;
      @include trs;

      &:hover {
        @include trs;
        transform: scale(1.3s);
      }
    }

    &--active .header__btn-line:nth-child(1) {
      transform: rotate(45deg);
      top: 9px;
      background: $main-color;
    }

    &--active .header__btn-line:nth-child(2) {
      display: none;
    }

    &--active .header__btn-line:nth-child(3) {
      transform: rotate(-45deg);
      top: 9px;
      background: $main-color;
    }
  }

  &__btn-line {
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    width: 27px;
    @include trs;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 7px;
    }

    &:nth-child(3) {
      top: 14px;
    }
  }
}
